<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/templatemo_main.css">
        <style>
            body{
                background-color:#7B68EE;
            }
            h1{
                font-family: 'Brush Script MT', cursive;  font-weight: 600;   color:#39e600;      font-size:42px;

            }
           a{font-size: 30px; color: #b2e617; font-family: serif;
        }</style>

    </head>
    <body>
        <div id="main-wrapper">

            <div class="image-section">
                <div class="image-container">
                    <img src="images/zoom-bg-1.jpg" id="searchbycourse-img" class="main-img inactive" alt="Zoom HTML5 Template by templatemo.com">
                    <img src="images/zoom-bg-2.jpg" id="products-img" class="inactive" alt="Product">
                    <img src="images/zoom-bg-3.jpg" id="services-img"  class="inactive" alt="Services">
                    <img src="images/zoom-bg-4.jpg" id="about-img" class="inactive" alt="About">
                    <img src="images/zoom-bg-5.jpg" id="contact-img" class="inactive" alt="Contact">
                    <img src="images/zoom-bg-6.jpg" id="company-intro-img" class="main-img inactive" alt="Company Intro">
                    <img src="images/zoom-bg-7.jpg" id="testimonials-img" class="main-img inactive" alt="Testimonials">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right templatemo-logo margin-top-0">
               

                    <a href="/login">Login</a>
                    
              
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left templatemo-logo margin-top-20">

                <h1 class="templatemo-site-title">


                    <h1>StudentSmart</h1>
            </div>


            <div  class="container">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
                    <div class="templatemo-content">
                        <section id="contact-section" class="inactive active" style="display: block;">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="text-center">Enjoy yourself by saving your favourite courses, simply registering yourself</h2>
                                    <div class="col-sm-12 col-md-12">
                                        <p th:text="${register.errorMessage}" />        
                                    </div>

                                    <div class="col-sm-12 col-md-12 margin-bottom-20">
                                        <form action="#" th:action="@{/register}" th:object="${register}" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control"  placeholder="Nickname" th:field="*{nickname}" />
                                            </div>
                                            <div class="form-group"> 
                                                <input type="text" class="form-control"   placeholder="First name" th:field="*{firstName}" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control"   placeholder="Last name" th:field="*{lastName}" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control"   placeholder="name@domain.com" th:field="*{email}" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"   style="font-size: 18px"  placeholder="Password" th:field="*{password}" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control"  style="font-size: 18px" placeholder="Conferm password" th:field="*{confirmedPassword}" />
                                            </div>       
                                            <div class="form-group">    
                                                <button type="submit" class="btn btn-primary">Sign up</button>
                                            </div>
                                        </form>

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>



        </div>

        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1937px; width: 2256px; z-index: -999999; position: fixed;">
            <img src="" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 2561.67px; height:1937px; max-height: none; max-width: none; z-index: -999999; left: -152.833px; top: 0px;">
        </div>

    </body>
</html>
